@*
* Copyright 2025 HM Revenue & Customs
*
*@

@import uk.gov.hmrc.eusubsidycompliancefrontend.config.AppConfig
@import uk.gov.hmrc.eusubsidycompliancefrontend.controllers
@import uk.gov.hmrc.eusubsidycompliancefrontend.journeys.Journey
@import uk.gov.hmrc.eusubsidycompliancefrontend.models.types.Sector
@import uk.gov.hmrc.eusubsidycompliancefrontend.models.NACESector01
@import uk.gov.hmrc.eusubsidycompliancefrontend.views.html.helpers.{H1, P}

@this(
layout: Layout,
formHelper: FormWithCSRF,
button: components.Button,
govukErrorSummary: GovukErrorSummary,
govukRadios : GovukRadios
)


@(form: Form[_], previous: Journey.Uri, undertakingName: String, isUpdate: Boolean = false)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@fieldName = @{"undertakingSector"}

@actionUrl = @{
if(isUpdate) controllers.routes.UndertakingController.updateIndustrySector
else controllers.routes.UndertakingController.postSector
}


@radioText(id: String, content: String) = {
<span id="@id">@content</span>
}


@radioOptions = @{
Seq(
RadioItem(
content = HtmlContent(radioText("sector-label-generalPublicAdmin", messages("NACE.publicAdministration.Lvl4.generalPublicAdmin "))),
value = Some(Sector.generalPublicAdmin.toString),
checked = form.data.get(fieldName).fold(false)(x => x == Sector.generalPublicAdmin.toString)
),
RadioItem(
content = HtmlContent(radioText("sector-label-healthEducationRegulation", messages("NACE.publicAdministration.Lvl4.healthEducationRegulation "))),
value = Some(Sector.healthEducationRegulation.toString),
checked = form.data.get(fieldName).fold(false)(x => x == Sector.healthEducationRegulation.toString)
),
RadioItem(
content = HtmlContent(radioText("sector-label-businessRegulation", messages("NACE.publicAdministration.Lvl4.businessRegulation "))),
value = Some(Sector.businessRegulation.toString),
checked = form.data.get(fieldName).fold(false)(x => x == Sector.businessRegulation.toString)
)
)
}


@layout(
pageTitle = Some(messages("NACE.publicAdministration.Lvl3.administrationGeneral.title ")),
backLinkEnabled = true,
backLink = Some(previous),
hasErrors = form.hasErrors
) {

@formHelper(action = actionUrl) {
@form.errors.map { err =>
@govukErrorSummary(ErrorSummary(
errorList = Seq(
ErrorLink(
href = Some(s"#${err.key}"),
content = Text(s"${messages(err.key++"." ++err.message)}")
)
),
title = Text(messages("common.error.summary.title", undertakingName))
))
}



@govukRadios(Radios(
errorMessage = if(form.hasErrors) {Some(ErrorMessage(
content = Text(messages("undertakingSector.error.required"))
))} else None,
fieldset = Some(Fieldset(
legend = Some(Legend(
content = Text(messages("NACE.publicAdministration.Lvl3.administrationGeneral.title ")),
classes = "govuk-fieldset__legend--xl",
isPageHeading = true
))
)),
hint = Some(Hint(
content = Text(messages("NACE.general.Lvl3.hint"))
)),
idPrefix = Some(fieldName),
name = fieldName,
items = radioOptions
))

@button("continue.button")
}
}
