<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[%X{X-Request-ID}] user=[%X{Authorization}] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <!-- DO NOT suppress log output to stdout during test runs as it makes CI much less interesting when things fail. Tests
     are about failure not success as they should point to how to fix things. Good luck fixing indeterminate failures without this on-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
