@import "lib/govuk-frontend/govuk/base";
$govuk-border-colour: #b1b4b6;


.print-dialogue {
  float: right;
  margin-top: 15px;

  a {
    font-size: .875rem;
    @media (min-width: 40.0625em) {
      font-size: 1rem;
    }
  }
}


.fixed-min-height-card, .card {
  background-color: #f8f8f8;
  padding: 20px;
}

.govuk-summary-list__row-nobold .govuk-summary-list__key {
  font-weight: 400;
}

.summary-list-no-value {
  .govuk-summary-list__value {
    width: 20%;
  }

  .govuk-summary-list__actions {
    width: 40%;
  }
}

.govuk-card.fixed-min-height-card {
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .fixed-min-height-card {
    min-height: 200px;
  }
}

table.responsive-table td:before {
  display: none;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table.responsive-table,
  table.responsive-table thead,
  table.responsive-table tbody,
  table.responsive-table th,
  table.responsive-table td,
  table.responsive-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.responsive-table {

    caption {
      width: 100%;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border-bottom: 2px solid $govuk-border-colour;
      padding-top: 10px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid $govuk-border-colour;
      position: relative;
      padding-left: 40%;

      &:before {
        display: block;
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: 0;
        width: 35%;
        padding-right: 10px;
        white-space: nowrap;
      }

      &.responsive-nopad {
        padding-left: 0;
      }
    }

  }
}

.govuk-panel--warning {
  color: #fff;
  background: #B10D1E;
}

.date-no-break {
  white-space: nowrap;
}








