@import "lib/govuk-frontend/govuk/base";

.fixed-min-height-card {
  background-color: #f8f8f8;
  padding: 20px;
}

.summary-list-no-value {
  .govuk-summary-list__value {
    width: 20%;
  }

  .govuk-summary-list__actions {
    width: 40%;
  }
}

.govuk-card.fixed-min-height-card {
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .fixed-min-height-card {
    min-height: 200px;
  }
}
